<!DOCTYPE html>
<html>
<head>
    <title>AI-Powered Education Platform</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <nav>
            <!-- Navigation links -->
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">User Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup')}}">Sign Up</a></li>
                {% endif %}
                <li><a href="#content-recommendation">Content Recommendation</a></li>
                <li><a href="#lesson-generation">Lesson Generation</a></li>
                <li><a href="#assessments">Assessments</a></li>
                <li><a href="#learning-analytics">Learning Analytics</a></li>
                <li><a href="#user-interaction">User Interaction</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="user-profile">
            <!-- User profile  -->
            <h2>Dashboard</h2>
            <div class="profile-card">
                <h2>{{ user.username }}</h2>
                <p><strong>Email:</strong> {{ user.email }}</p>
                {% if user.date_joined %}
                    <p>Date Joined: {{ user.date_joined.strftime('%Y-%m-%d') }}</p>
                {% endif %}
            </div>
        </section>

        <section id="user-input">
            
        </section>

        <section id="lesson-generation">
            <h2>Courses</h2>
            <div class="lesson-cards-container">
                {% for course in courses %}
                    <div class="lesson-card">
                        <h3>{{ course.name }}</h3>
                        <p>{{ course.description }}.</p>
                        <a href="{{ url_for('quiz_detail', course_id=course.id) }}">Start Quiz</a>
                    </div>
                {% else %}
                        <p>No saved courses.</p>
                {% endfor %}
            </div>
        </section>

        <section id="assessments">
            <h2>Assessments</h2>
            <p>Our platform uses AI to create dynamic and personalized assessments that adapt to your learning pace and style. Here's what you can expect:</p>
            <div id="assessment-cards-container">
                <div class="assessment-card">
                    <h3>Dynamic Quizzes and Tests</h3>
                    <p>Our quizzes adjust their difficulty based on your past performance, ensuring you're always challenged at the right level.</p>
                    <a href="{{ url_for('quiz_interface')}}">Start Quiz</a>
                </div>
                <div class="assessment-card">
                    <h3>Instant Feedback</h3>
                    <p>Get instant feedback on your assessments, with clear explanations and suggestions for improvement.</p>
                    <a href="#">View Feedback</a>
                </div>
            </div>
        </section>

        <section id="learning-analytics">
            <!-- Learning analytics related content goes here -->
        </section>

        <section id="user-interaction">
            <!-- User interaction related content goes here -->
        </section>

    </main>

        <!-- Footer content goes here -->
        <footer>
            <!-- Footer content goes here -->
            <div id="footer-container">
                <p>&copy; 2024 AI Learning Platform. All rights reserved.</p>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('about')}}">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

</body>
</html>