<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>Quiz</title>
</head>
<body>
    <div class="main">
        <form action="{{ url_for('quiz_detail', course_id=course.id) }}" method="POST">
            <h1>{{course.name}} Quiz Details</h1>
            <div class="ques">
                You are about to start a quiz in {{ course.name}}. The quiz difficulty will depend on your proficiency level.
                Your proficiency level changes as you take the quizzes under the {{course.name}}  course.
            </div>
            <div class="ques">
                Your Current Proficiency Level: <strong>{{user_proficiency.proficiency_level}}</strong>
            </div>

            <div class="ques">
                You are a: <strong>{{user_proficiency.proficiency_category}}</strong>
            </div>

            <div class="ques">
                Recommended number of quizzes to take based on your Proficiency Level: <strong>{{recommended_num_quizzes}} </strong>
            </div>
            
            <button type="submit">Continue to quiz</button>
        </form>
    </div>
</body>
</html>